@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;300;400;500;600;700&display=swap');
.sober-wrap{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    font-family: 'IBM Plex Sans KR', sans-serif;

}