
.main-wrap{
    
    .main-btn-wrap{
        display: flex;
        padding:0 15px;
        justify-content: space-between;

        li{
            width:48%;
            border:1px solid #000;
            border-radius: 5px;
            box-sizing: border-box;
            padding:20px;
            text-align: center;

            a{
                display: block;
                color:rgba(0,0,0,.7);
                font-size:12px;
                word-break: keep-all;

                img.viewImg{ display:block;  width:auto; height: 108px; margin:0 auto 10px;}

                span{line-height:1.2em;}
            }
        }
    }

}