
.sober-wrap{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    font-family: 'Pretendard', sans-serif;
    font-weight:400;
    letter-spacing: -0.01em;
    .notice, .guide, .br {
        white-space: pre-line;
    }

    .copy{
        font-size: 13px;
        font-weight: 900; letter-spacing: -0.045px; 
    }

    footer{
        .copy{text-align: center; margin-top:30px;}
    }

    .btn{
        display: inline-block;
        padding:12px 40px;
        border:1px solid #000;
        border-radius: 5px;
        font-size:1em;
        font-weight: 600;
        text-align:center;

        &.primary {
            background-color:#FFB6E1;
        }

        &.default {
            background-color:#F5F5F5;
        }
    }


    /* Game Subject */
    .game-subject{
        padding:20px 20px 0;

        text-align: center;
        
        nav{
            .title-img{
                height:48px;
                img{height: 100%;}
            }
            .desc{
                margin:20px auto 26px;
                font-size:1em;
                word-break: keep-all;
                white-space: pre-line;
            }
        }
    }
}