@import "./mixin";

.kimchi-wrap{
    padding:0 20px;
    overflow-x:hidden;

    .notice{
        text-align: center;
        margin-top:15px;
        font-size:0.9em;
        color:rgba(0,0,0,.3);
    }

    .search-bar-wrap{
        text-align: center;
        .search-bar{
            position: relative;
            text-align: center;

            input[type=text]{
                position: absolute;
                top:50%; left:0; right:0;
                width:100%; max-width: 160px;
                border:none; box-shadow: none; background-color:transparent;
                font-size:1em;
                outline:none;
                transform:translateY(-50%);
                margin:0 auto;
            }
        }
        .text-thinking{
            position:relative;
            z-index: 1;
            margin-top:-50px;
        }

        .search-img{
            margin:-35px auto 10px;
        }
    }

    .result-subject{
        font-size:2.2em;
        text-align: center;
        font-weight:900;
        padding:20px 20px 26px;

        span{
            position: relative;

            &::before{
                content:"";
                width:100%; height:15px;
                position: absolute;
                left:0; right:0; bottom:0;
                z-index: -1;
                background-color:#FFB6E1;
            }
        }
    }
    .result-wrap{

        .thumb{
            position: relative;
            border-radius: 10px;
            border:1px solid #000;
            min-height:200px;

            img{width:100%;}

            .result-badge{
                width:140px;
                position: absolute;
                bottom:0; left:-20px;
            }
        }
    }
}
@media (max-width: 561px) {
    .text-thinking{
        margin-top:-10% !important;
    }
}