.not-found-wrap{
    text-align: center;

    .title{font-size:1.3em; font-weight:bold; margin:50px auto 10px;}
    .summary{margin-bottom: 20px; color:rgba(0,0,0,.7);}
    a{margin: 20px auto 40px;}
}